{{ 'streamthing_jquery_3.2.1.js' | asset_url | script_tag }}
{{ 'streamthing_moment_2.18.1.js' | asset_url | script_tag }}
{{ 'streamthing_datepicker_5.0.0.alpha8.js' | asset_url | script_tag }}
{{ 'streamthing_deliverydate_1.1.7.js' | asset_url | script_tag }}
<link rel='stylesheet' type='text/css' href='/apps/delivery-date/css/bootstrap_streamthing_style_isolation.css'>
{{ 'streamthing_datepicker_5.0.0.alpha8_1.0.5.css' | asset_url | stylesheet_tag }}

<div class='streamthing_style_isolation'>
  <div id='streamthing_delivery_date_picker' style='width:300px; clear:both;'></div>
</div>